<div class="news-wr">
    <div class="news-data">
        <div>
            <div class="news-data-header">
                <div class="news-title">
                    <span class="news-panel-text news-panel-title">{{newsItem.heading}}</span>
                </div>
            </div>
            <div class="news-description">
                <p>{{newsItem.content}}</p>
            </div>
        </div>

        <div class="news-data-footer">
            <div class="news-date">
                <!-- <mat-icon svgIcon="calendar" class="news-panel-icons"></mat-icon> -->
                <span class="news-panel-text news-panel-creation">{{newsItem.date}}</span>
            </div>
            <div class="news-date">
                <!-- <mat-icon svgIcon="author" class="news-panel-icons"></mat-icon> -->
                <span class="news-panel-text news-panel-creation">{{newsItem.author}}</span>
            </div>
        </div>
    </div>
</div>