<app-news-source [source]="pageHeader"></app-news-source>
<div class='editing-section'>
    <div>
        <label>
            Heading:<br>
            <input type="text" [(ngModel)]="newsItem.heading">
        </label>
        <label>
            Short description:<br>
            <input type="text" [(ngModel)]="newsItem.shortDescription">
        </label>
        <label>
            Content:<br>
            <textarea></textarea>
        </label>
    </div>
    <div>
        <label>
            Image:<br>
            <input type="text" [(ngModel)]="newsItem.image">
        </label>
        <label>
            Date:<br>
            <input type="text" [(ngModel)]="newsItem.date">
        </label>
        <label>
            Author:<br>
            <input type="text" [(ngModel)]="newsItem.author">
        </label>
        <label>
            Source URL:<br>
            <input type="text" [(ngModel)]="newsItem.sourceUrl">
        </label>
        <div class="buttons">
            <input type="button" value="Save" (click)="save($event)">
            <input type="button" value="Cancel" (click)="goBack($event)">
        </div>
    </div>
</div>